# Ignore all possible scripts
*.cmd
*.exe
*.sh
*.bat
*.ps1
*.pyc
*.pyo
*.dll
*.so
*.jar
*.class
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.sql
*.log
*.json
*.sql

# Ignore specific directories
inc/


